* {
    margin: 0;
}

body {
    font-family: nunito-reg;
    color: var(--text);
    background-color: var(--backgrnd);
    color: var(--text);
}

:root:has(#light) {
    --element: hsl(0, 0%, 100%);
    --input: hsl(0, 0%, 52%);
    --backgrnd: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
}

:root:has(#dark) {
    --element: hsl(209, 23%, 22%);
    --input: hsl(209, 23%, 22%);
    --backgrnd: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
}