.listItem {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 12px;
    background: var(--input-listItem);
    justify-content: space-between;
    border-bottom: 1px solid var(--accent-brdr);
    font-size: 1.25em;
}

.check {
    height: 14px;
    width: 14px;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid var(--accent-brdr);
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left p {
    width: fit-content;
    color: var(--text-clr);
}

.cross {
    height: 18px;
    width: 18px;
    background: url("./../../public/images/icon-cross.svg");
    cursor: pointer;
}

.infoBar {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background: var(--input-listItem);
}

.infoBar section {
    color: var(--strike-txt);
}

.infoBar button {
    border: none;
    background: transparent;
    color: var(--strike-txt);
    cursor: pointer;
}

.infoBar button:hover {
    color: var(--text-clr);
}

.infoBar button:active {
    color: blue;
}

.taskCont {
    border-radius: 5px;
    overflow: hidden;
}