@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: montserrat-reg;
        src: url("../assets/static/Montserrat-Regular.ttf");
    }

    @font-face {
        font-family: montserrat-med;
        src: url(../assets/static/Montserrat-Medium.ttf);
    }

    @font-face {
        font-family: fraunces-bold;
        src: url("../assets/static/Fraunces_144pt_SuperSoft-Bold.ttf");
    }
}